# calendar

In [1]:
import calendar

In [2]:
cal = calendar.month(2015, 1)

In [3]:
print(cal)

    January 2015
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

## calendar(year, w=2, l=1, c=6)

In [4]:
year = calendar.calendar(2015)

In [5]:
print(year)

                                  2015

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

## isleap(year):判断是否为闰年

In [6]:
calendar.isleap(2000)

True

In [7]:
calendar.isleap(2015)

False

## leapdays(y1, y2)

In [8]:
calendar.leapdays(2000, 2004)

1

In [9]:
calendar.leapdays(2000, 2003)

1

## month(year, month, w=2, l=1)

In [10]:
print(calendar.month(2020, 11))

   November 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

## monthcalendar(year, month)

In [11]:
calendar.monthcalendar(2020, 11)

[[0, 0, 0, 0, 0, 0, 1],
 [2, 3, 4, 5, 6, 7, 8],
 [9, 10, 11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20, 21, 22],
 [23, 24, 25, 26, 27, 28, 29],
 [30, 0, 0, 0, 0, 0, 0]]

## monthrange(year, month)

In [12]:
calendar.monthrange(2020, 11)

(6, 30)

## weekday(year, month, day)

In [14]:
calendar.weekday(2015, 5, 4)

0

In [15]:
calendar.weekday(2015, 6, 4)

3

# time

## time()

In [16]:
import time

In [17]:
time.time()

1606042167.1834671

## localtime()

In [19]:
time.localtime()

time.struct_time(tm_year=2020, tm_mon=11, tm_mday=22, tm_hour=18, tm_min=50, tm_sec=51, tm_wday=6, tm_yday=327, tm_isdst=0)

In [20]:
t = time.localtime()

In [21]:
t[1]

11

In [22]:
time.localtime(100000)

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=2, tm_hour=11, tm_min=46, tm_sec=40, tm_wday=4, tm_yday=2, tm_isdst=0)

## gmtime()

In [23]:
time.gmtime()

time.struct_time(tm_year=2020, tm_mon=11, tm_mday=22, tm_hour=10, tm_min=55, tm_sec=6, tm_wday=6, tm_yday=327, tm_isdst=0)

## asctime()

In [24]:
time.asctime()

'Sun Nov 22 18:57:02 2020'

In [25]:
h = time.localtime(100000)

In [26]:
h

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=2, tm_hour=11, tm_min=46, tm_sec=40, tm_wday=4, tm_yday=2, tm_isdst=0)

In [27]:
time.asctime(h)

'Fri Jan  2 11:46:40 1970'

## ctime()

In [28]:
time.ctime()

'Sun Nov 22 18:59:40 2020'

In [29]:
time.ctime(100000)

'Fri Jan  2 11:46:40 1970'

## mktime()

In [30]:
lt = time.localtime()

In [31]:
lt

time.struct_time(tm_year=2020, tm_mon=11, tm_mday=22, tm_hour=19, tm_min=1, tm_sec=38, tm_wday=6, tm_yday=327, tm_isdst=0)

In [32]:
time.mktime(lt)

1606042898.0

## strftime()

In [33]:
help(time.strftime)

Help on built-in function strftime in module time:

strftime(...)
    strftime(format[, tuple]) -> string

    Convert a time tuple to a string according to a format specification.
    See the library reference manual for formatting codes. When the time tuple
    is not present, current time as returned by localtime() is used.

    Commonly used format codes:

    %Y  Year with century as a decimal number.
    %m  Month as a decimal number [01,12].
    %d  Day of the month as a decimal number [01,31].
    %H  Hour (24-hour clock) as a decimal number [00,23].
    %M  Minute as a decimal number [00,59].
    %S  Second as a decimal number [00,61].
    %z  Time zone offset from UTC.
    %a  Locale's abbreviated weekday name.
    %A  Locale's full weekday name.
    %b  Locale's abbreviated month name.
    %B  Locale's full month name.
    %c  Locale's appropriate date and time representation.
    %I  Hour (12-hour clock) as a decimal number [01,12].
    %p  Locale's equivalent of either AM or PM.

    Other codes may be available on your platform.  See documentation for
    the C library strftime function.

In [34]:
time.strftime("%y, %m, %d")

'20, 11, 22'

In [35]:
time.strftime("%y/%m/%d")

'20/11/22'

## strptime()

In [36]:
help(time.strptime)

Help on built-in function strptime in module time:

strptime(...)
    strptime(string, format) -> struct_time

    Parse a string to a time tuple according to a format specification.
    See the library reference manual for formatting codes (same as
    strftime()).

    Commonly used format codes:

    %Y  Year with century as a decimal number.
    %m  Month as a decimal number [01,12].
    %d  Day of the month as a decimal number [01,31].
    %H  Hour (24-hour clock) as a decimal number [00,23].
    %M  Minute as a decimal number [00,59].
    %S  Second as a decimal number [00,61].
    %z  Time zone offset from UTC.
    %a  Locale's abbreviated weekday name.
    %A  Locale's full weekday name.
    %b  Locale's abbreviated month name.
    %B  Locale's full month name.
    %c  Locale's appropriate date and time representation.
    %I  Hour (12-hour clock) as a decimal number [01,12].
    %p  Locale's equivalent of either AM or PM.

    Other codes may be available on your platform.  See documentation for
    the C library strftime function.

In [37]:
today = time.strftime("%y/%m/%d")

In [38]:
today

'20/11/22'

In [40]:
time.strptime(today, "%y/%m/%d")

time.struct_time(tm_year=2020, tm_mon=11, tm_mday=22, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=327, tm_isdst=-1)

# datetime

## date类

In [41]:
import datetime

In [42]:
today = datetime.date.today()

In [43]:
today

datetime.date(2020, 11, 22)

In [44]:
print(today)

2020-11-22

In [45]:
print(today.ctime())

Sun Nov 22 00:00:00 2020

In [46]:
print(today.timetuple())

time.struct_time(tm_year=2020, tm_mon=11, tm_mday=22, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=327, tm_isdst=-1)

In [47]:
print(today.toordinal())

737751

In [48]:
print(today.year)

2020

In [49]:
print(today.month)

11

In [50]:
print(today.day)

22

In [51]:
to = today.toordinal()

In [52]:
to

737751

In [53]:
print(datetime.date.fromordinal(to))

2020-11-22

In [54]:
import time

In [55]:
t = time.time()

In [56]:
t

1606044159.3396554

In [57]:
print(datetime.date.fromtimestamp(t))

2020-11-22

In [58]:
d1 = datetime.date(2015, 5, 1)

In [59]:
print(d1)

2015-05-01

In [60]:
d2 = d1.replace(year=2005, day=5)

In [61]:
print(d2)

2005-05-05

## time类

In [63]:
t = datetime.time(1, 2, 3)

In [64]:
print(t)

01:02:03

In [65]:
print(t.hour)

1

In [66]:
print(t.minute)

2

In [67]:
print(t.second)

3

In [68]:
print(t.microsecond)

0

In [69]:
print(t.tzinfo)

None

## timedelta类

In [70]:
now = datetime.datetime.now()

In [71]:
print(now)

2020-11-22 19:30:58.411868

In [72]:
c = now + datetime.timedelta(weeks=2)

In [73]:
c

datetime.datetime(2020, 12, 6, 19, 30, 58, 411868)

In [74]:
print(c)

2020-12-06 19:30:58.411868

In [75]:
b = now + datetime.timedelta(hours=5)

In [76]:
print(b)

2020-11-23 00:30:58.411868

In [77]:
c = now + datetime.timedelta(weeks=2)

In [78]:
d = c - b

In [79]:
print(d)

13 days, 19:00:00